.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
}
.logo{

    height: 100px;
    width: 100px;
    padding-left: 10px;
    
}
.nav-items > ul{
    display: flex;
    list-style: none;
    padding: 0px 20px;
    font-size: 24px;
}
.nav-items >ul > li{
    padding: 10px;
    margin: 10px
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    
}
.res-card{
    height: 300px;
    height: fit-content;
    width: 200px;
    background-color: #f0f0f0;
    margin-left: 5px;
    padding: 5px;
    align-items: auto;
}
.res-card:hover{
    border:   1px solid black;
    cursor: pointer;
}
.res-logo{
     width: 200px;
     height: 130px;
      
}
.filter-btn{
    margin-left: 20px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin :20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    
}
.login-btn{
    height: 30px;
    width: 60px;
    margin-bottom: 0 0 5px 0;
}
.filter{
    display: flex;
    margin: 15px;
    flex-wrap: wrap;
}
.search-btn{
    margin-left: 2px;
    cursor: pointer;
}
/* .user-card{
    border: solid black 1px;
    width: 300px;
    align-items: auto;
    
}
.user-card>h3,h4{
   
    font-style: italic;
    font-weight: 400;
    padding: 0 0 0 25px;
    
} */
